
<div class='jumbotron'>
  <div class="container">
    <div class="col-md-12 card">
        <h2 class="card-title">Customer Support Ticket</h2>
        <p>Please complete the following form so that we can best resolve your issue.</p>
    </div>
    <form [formGroup]="CustomerModel.formCustomerGroup">
    <div class="col-md-6">
        <p>Customer First Name : <input formControlName="CustomerFirstNameControl" class="form-control" [(ngModel)]='CustomerModel.CustomerFirstName' type=text/></p>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerFirstNameControl'))">Please include your first name.</div>
    </div>
    <div class="col-md-6">
        <p>Customer Last Name : <input formControlName="CustomerLastNameControl" class="form-control" [(ngModel)]='CustomerModel.CustomerLasttName' type=text/></p>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerLastNameControl'))">Please include your last name.</div>
    </div>
    <div class="col-md-12">
        <p>Customer Email : <input formControlName="CustomerEmailControl" class="form-control" [(ngModel)]='CustomerModel.CustomerEmail' type=email/></p>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerEmailControl'))">Please include an email address.</div>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('email','CustomerEmailControl'))">Please include a valid email address.</div>
        

    </div>
    <div class="col-md-6">
        <p>Ticket Subject : <input formControlName="CustomerSubjectControl" class="form-control" [(ngModel)]='CustomerModel.TicketSubject' type=text/><p>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerSubjectControl'))">Please include a subject to identify your issue.</div>
    </div>
    <div class="col-md-12">
        <p>Ticket Priority : <select [ngModelOptions]="{standalone: true}" [(ngModel)]='CustomerModel.TicketPriority' name="priority">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select></p>
    </div>
    <div class="col-md-12">
        <p>Ticket Description : </p>
        <textarea formControlName="CustomerDescriptionControl" [(ngModel)]='CustomerModel.TicketDescription' class="form-control" aria-label="With textarea" placeholder="Description of Issue"></textarea>
        <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerDescriptionControl'))">Please include a short description of your issue.</div>
    </div>
    <div class="col-md-12" style="margin-top: 15px;">
        <button [disabled]="!(CustomerModel.formCustomerGroup.valid)"(click)="Add()" type="button" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>



